// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$black: #000000;
$mediumGrey: #9f9f9f;
$lightGrey: #e3e9f9;
$white: #ffffff;

$primary: #1e76d8;
$light: #ffffff;
$darkShadow: rgba(0, 0, 0, 0.16);
$mediumShadow: rgba(84, 84, 84, 0.01);
